html{
    box-sizing: border-box;
    background: #d45062;
    font-family: "Quicksand", sans-serif;
    font-size: 10px;
}

body{
    margin: 0;
}

*, *::before, *::after{
    box-sizing: inherit;
}

.search-form{
    width: 400px;
    margin: 40px auto;
}

input{
    width: 100%;
    padding: 20px;
}

input.search{
    margin: 0;
    font-family: "Quicksand";
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.2rem;
    border: 6px solid #254f8e;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.5);
    z-index: 2;
    }

.suggestions{
    margin: 10px auto;
    padding: 0;
    position: relative;
}

.suggestions li{
    background-color: white;
    list-style: none;
    margin-top: 2px;
    padding: 15px;
    font-size: 1.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 300;
}

.suggestions li:nth-child(even) {
    background: rgba(193, 210, 235, 0.8);
    border: 2px solid rgb(74, 108, 159);
    border-radius: 7px;
  }
  
  .suggestions li:nth-child(odd) {
    background: rgba(242, 225, 227, 0.6);
    border: 2px solid rgb(220, 101, 115);
    border-radius: 7px;
  }